//- index.jade
extends ./layout.jade

block content
  div.container-fluid(ng-controller='StatsCtrl')
    div.row(ng-cloak)
      div.col-xs-12.col-sm-6.col-md-3.col-lg-3.stat-holder
        div.big-info.bestblock.text-info
          div.pull-left.icon-full-width
            i.icon-block
          div.pull-left
            span.small-title best block
            span.big-details {{'#'}}{{ bestBlock | number}}
          div.clearfix
      div.col-xs-12.col-sm-6.col-md-3.col-lg-3.stat-holder
        div.big-info.difficulty.text-orange
          div.pull-left.icon-full-width
            i.icon-hashrate
          div.pull-left
            span.small-title avg rate
            span.big-details(ng-bind-html="avgTransactionRate | transactionRateFilter")
          div.clearfix
      div.col-xs-12.col-sm-6.col-md-3.col-lg-3.stat-holder
        div.big-info.blocktime(class="{{ lastBlock | timeClass : true }}")
          div.pull-left.icon-full-width
            i.icon-time
          div.pull-left
            span.small-title last block
            span.big-details {{ lastBlock | blockTimeFilter }}
            //- span.big-details(time-ago="lastBlock")
          div.clearfix
      div.col-xs-12.col-sm-6.col-md-3.col-lg-3.stat-holder
        div.big-info.avgblocktime(class="{{ avgBlockTime | avgTimeClass }}")
          div.pull-left.icon-full-width
            i.icon-gas
          div.pull-left
            span.small-title avg block time
            span.big-details {{ avgBlockTime | avgTimeFilter }}
          div.clearfix

      div.clearfix


    div.row(ng-cloak)
      div.col-xs-12.stats-boxes(style="padding-top: 0px;")
        div.row.second-row
          div.col-xs-12.col-sm-6.col-md-4.col-lg-4.stat-holder.box
            div.active-nodes(class="{{ nodesActive | nodesActiveClass : nodesTotal }}")
              i.icon-node
              span.small-title active nodes
              span.small-value {{nodesActive}}/{{nodesTotal}}
          div.col-xs-12.col-sm-6.col-md-4.col-lg-4.stat-holder.box
            div.gasprice.text-info
              i.icon-gasprice
              span.small-title gas price
              span.small-value {{ bestStats.gasPrice.toString() | gasPriceFilter }}
          div.col-xs-12.col-sm-6.col-md-4.col-lg-4.stat-holder.box
            div.gasprice.text-info
              i.icon-gasprice
              span.small-title gas limit
              span.small-value {{ bestStats.block.gasLimit }} gas
          div.col-xs-12.col-sm-6.col-md-4.col-lg-4.stat-holder.box
            div.uptime(class="{{ upTimeTotal | upTimeClass : true }}")
              i.icon-bulb
              span.small-title uptime
              span.small-value {{ upTimeTotal | upTimeFilter }}
          div.col-xs-12.col-sm-6.col-md-4.col-lg-4.stat-holder.box
            div.difficulty.text-info
              i.icon-difficulty
              span.small-title total difficulty
              span.small-value {{ lastTotalDifficulty }}
          div.col-xs-12.col-sm-6.col-md-4.col-lg-4.stat-holder.box
            div.page-latency(class="{{ {active: true, latency: latency} | latencyClass }}")
              i.icon-clock
              span.small-title page latency
              span.small-value {{latency}} ms

        div.row
          div.col-xs-12.col-sm-12.col-md-8.col-lg-6.stat-holder.map-holder.pull-right
            nodemap#mapHolder(data="map")

          div.col-xs-12.col-sm-6.col-md-4.col-lg-3.stat-holder
            div.big-info.chart.text-info
              span.small-title block time
              sparkchart.big-details.spark-blocktimes(data="{{lastBlocksTime.join(',')}}", tooltipsuffix="s")

          div.col-xs-12.col-sm-6.col-md-4.col-lg-3.stat-holder
            div.big-info.chart.text-info
              span.small-title transactions per block
                  sparkchart.big-details.spark-transactions(data="{{transactionDensity.join(',')}}")

          div.col-xs-12.col-sm-6.col-md-4.col-lg-3.stat-holder
            div.big-info.chart.text-info
              span.small-title tps per block
              sparkchart.big-details.spark-transactionsrate(data="{{transactionRate.join(',')}}")

          div.col-xs-12.col-sm-6.col-md-4.col-lg-3.stat-holder
            div.big-info.chart.text-info
              span.small-title difficulty
              sparkchart.big-details.spark-difficulty(data="{{difficultyChart.join(',')}}")

          div.col-xs-12.col-sm-6.col-md-4.col-lg-3.stat-holder
            div.big-info.chart.text-info
              span.small-title gas spending
              sparkchart.big-details.spark-gasspending(data="{{gasSpending.join(',')}}")

          div.col-xs-12.col-sm-6.col-md-4.col-lg-3.stat-holder
            div.big-info.chart.xdouble-chart(class="{{ blockPropagationAvg | propagationAvgTimeClass : true }}")
              span.small-title block propagation
              histogram.big-details.d3-blockpropagation(data="blockPropagationChart")


    div.row
      div.col-xs-12.stats-boxes
        div.row.second-row
          div.col-xs-12.stat-holder.active-nodes.text-warning
            span.small-value
              i.icon-warning-o
              span.small-title ATTENTION!
              span This does not represent the entire GoChain network and information may not be 100% accurate.

    div.row(ng-cloak, style="padding-top: 10px")
      .nodeTable.table.table-striped.table-hover
        .nodeHeaders
          .nodeRow
            .nodeHeader.th-nodecheck
              i.icon-check-o(data-toggle="tooltip", data-placement="top", title="Pin nodes to display first", ng-click="orderTable(['-stats.block.number', 'stats.block.propagation'], false)")
            .nodeHeader
              i.icon-node(data-toggle="tooltip", data-placement="top", title="Node name", ng-click="orderTable(['info.name'], false)")
            .nodeHeader
              i.icon-laptop(data-toggle="tooltip", data-placement="top", title="Node type", ng-click="orderTable(['info.node'], false)")
            .nodeHeader
              i.icon-clock(data-toggle="tooltip", data-placement="top", title="Node latency", ng-click="orderTable(['stats.latency'], false)")
            .nodeHeader
              i.icon-database(data-toggle="tooltip", data-placement="top", title="Is signing", ng-click="orderTable(['-stats.hashrate'], false)")
            .nodeHeader
              i.icon-group(data-toggle="tooltip", data-placement="top", title="Peers", ng-click="orderTable(['-stats.peers'], false)")
            .nodeHeader
              i.icon-network(data-toggle="tooltip", data-placement="top", title="Pending transactions", ng-click="orderTable(['-stats.pending'], false)")
            .nodeHeader
              i.icon-check-o(data-toggle="tooltip", data-placement="top", title="Block transactions", ng-click="orderTable(['-stats.block.transactions.length'], false)")
            .nodeHeader
              i.icon-time(data-toggle="tooltip", data-placement="top", title="Last block time", ng-click="orderTable(['-stats.block.received'], false)")
            .nodeHeader
              i.icon-block(data-toggle="tooltip", data-placement="top", title="Last block", ng-click="orderTable(['-stats.block.number', 'stats.block.propagation'], false)")
            .nodeHeader
              i.icon-gas(data-toggle="tooltip", data-placement="top", title="Average propagation time", ng-click="orderTable(['stats.propagationAvg'], false)")
            .nodeHeader
              i.icon-gas(data-toggle="tooltip", data-placement="top", title="Propagation time", ng-click="orderTable(['-stats.block.number', 'stats.block.propagation'], false)")
            .nodeHeader
              i.icon-bulb(data-toggle="tooltip", data-placement="top", title="Up-time", ng-click="orderTable(['-stats.uptime'], false)")
            div.clearfix
        .nodeBody(ng-cloak)
          .nodeRow(ng-repeat='node in nodes | orderBy:predicate track by node.id', id="node_{{node.id}}")
            .nodeCell
              i(ng-click="pinNode(node.id)", class="{{ node.pinned | nodePinClass }}", data-toggle="tooltip", data-placement="right", data-original-title="Click to {{ node.pinned ? 'un' : '' }}pin")
            .nodeCell.text-success.nodeInfo(rel="{{node.id}}")
              strong(data-toggle="tooltip", data-placement="top", data-html="true", data-original-title="{{node | geoTooltip}}") {{node.info.name}}
            .nodeCell.text-info
              span.nodeCellLabel Version:&nbsp;
              span.small {{ node.info.node }}
            .nodeCell(class="{{ node.readable.latencyClass }}")
              span.nodeCellLabel Latency:&nbsp;
              span.small {{ node.readable.latency }}
            .nodeCell
              span.nodeCellLabel Signing:&nbsp;
              i(class="{{ node.stats.mining | hashrateClass : node.stats.active }}")
            .nodeCell(class="{{ node.stats.peers | peerClass : node.stats.active }}")
              span.nodeCellLabel Peers:&nbsp;
              span {{node.stats.peers}}
            .nodeCell.text-info
              span.nodeCellLabel Pending:&nbsp;
              span {{node.stats.pending}}
              span.nodeCellLabel &nbsp;txs
            .nodeCell.text-info
              span.nodeCellLabel Block:&nbsp;
              span {{node.stats.block.transactions.length || 0}}
              span.nodeCellLabel &nbsp;txs
            .nodeCell(class="{{ node.stats.block.received | timeClass : node.stats.active }}")
              span {{node.stats.block.received | blockTimeFilter }}
            .nodeCell(class="{{ node.stats | blockClass : bestBlock }}")
              span(class="{{ node.readable.forkMessage ? node.readable.forkClass : '' }}") {{'#'}}{{ node.stats.block.number | number }}
            .nodeCell(class="{{ node.stats | blockClass : bestBlock }}")
              code.small {{node.stats.block.hash | hashFilter}}
            .nodeCell(class="{{ node.stats | propagationTimeClass : bestBlock }}")
              div.propagationBox
              span {{node.stats.block.propagation | blockPropagationFilter}}
            .nodeCell(class="{{ node.stats | propagationNodeAvgTimeClass : bestBlock }}")
              span.nodeCellLabel Block Prop:&nbsp;
              span {{ node.stats | blockPropagationAvgFilter : bestBlock }}
            .nodeCell.peerPropagationChart(class="{{node.id}}")
              nodepropagchart(data="{{node.history.join(',')}}")
            .nodeCell(class="{{ node.stats.uptime | upTimeClass : node.stats.active }}")
              span.nodeCellLabel Uptime:&nbsp;
              span {{ node.stats.uptime | upTimeFilter }}
            div.clearfix
